* {
    box-sizing: border-box;
}

html {
    background-color: rgba(5, 32, 56, 0.836);

}

body {
    color: rgb(108, 177, 226);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;

}

table {
    margin: 30px auto;
    border: 1px transparent;
}

table td {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 177, 226);
    border: solid;
    border-radius: 5px;
    cursor: pointer;

}

.cell {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    text-align: center;

}

.shown {
    background-color: rgb(73, 118, 137);
    cursor: not-allowed;
    transition: linear 0.2s;

}

.mine {
    transition: linear 0.2s;
    background-color: orangered;
}


.buttons button {
    background-color: rgb(108, 177, 226);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
}

h2 span {
    cursor: pointer;
}

span {
    margin-right: 10px;
    color: white;
}

.properties button {
    border: none;
    color: white;
    cursor: pointer;
}

.safe-click {
    background-color: transparent;

}

.add-mine {
    background-color: transparent;
}

.clicked {
    background-color: rgb(108, 177, 226);
}

.safe {

    background-color: lightgreen;
}

footer {
    height: 60px;
    padding: 20px;
    background-color: rgb(108, 177, 226);
    color: white;

}